div.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

div.previous-chats {
  /* background: #fff; */
  height: 100%;
  width: 20.5vw;
  display: flex;
  flex-direction: column;
  padding: .9vw 1.45vw;
}

div.layout {
  width: calc(100% - 20.5vw);
  display: flex;
  margin: .75vw;
  background: #b3b3b308;
  border-radius: 3.75vw;
  border: .075vw solid #3d3d3d;
  flex-direction: column;
  backdrop-filter: blur(71px);
  align-items: center;
}

div.previous-chats div.links {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vh;
  /* Updated from 5.86vw to 12.12vh */
  /* gap: 2px; */
}

.link-icons {
  opacity: 0.4;
}

div.previous-chats div.links a {
  text-decoration: none;
  color: #eee;
  padding: .9vw;
  font-family: abeezee;
  font-size: .97vw;
}

div.previous-chats div.logo {
  display: flex;
  position: relative;
  top: 2.62vh;
  /* Updated from 1.125vw to 2.62vh */
}

div.previous-chats div.logo img {
  width: 6.3vw;
  height: auto;
}

div.account {
  position: absolute;
  bottom: 12vh;
  left: 2vw;
}

div.account button {
  background-color: #4285F4;
  color: #fff;
  padding: .75vw .75vw;
  border: none;
  border-radius: .375vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1vw;
  gap: .65vw;
}

div.build-info {
  padding: .8vw;
  position: relative;
  top: 22vh;
  border-radius: .7vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 2vh;
  font-family: Quicksand;
  /* border: .05vw solid #2f2f2f; */
  box-shadow: inset 0 0 2px;
  color: white;
  transform: scale(1);
  animation: card infinite 3s ease-in-out;
  background: linear-gradient(108deg, #1a0044 -7.56%, #660868 29.51%, #db5e83 69.57%, #ffd098 107.24%);
}

div.version {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3vw;
  font-family: abeezee;
}

div.build-info p.desc {
  position: relative;
  top: -.8vh;
  font-size: .97vw;
}

div.build-info button.card-btn {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2vh 1.5vw;
  font-size: .9vw;
  border-radius: .3vw;
  border: none;
  background: #00000049;
  color: white;
  cursor: pointer;
}

@keyframes card {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}