div.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

div.previous-chats {
  /* background: #fff; */
  height: 100%;
  width: 20.5vw;
  display: flex;
  flex-direction: column;
  padding: .9vw 1.45vw;
}

div.layout {
  width: calc(100% - 20.5vw);
  display: flex;
  margin: .75vw;
  background: #b3b3b308;
  overflow: hidden;
  border-radius: 3.75vw;
  border: .075vw solid #365057;
  flex-direction: column;
  backdrop-filter: blur(71px);
  align-items: center;
}

div.layout.light {
  border: none;
  background: #ffffffe6;
}

div.previous-chats div.links {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vh;
  /* Updated from 5.86vw to 12.12vh */
  /* gap: 2px; */
}

.link-icons {
  opacity: 0.4;
}

div.previous-chats div.links a {
  text-decoration: none;
  color: #eee;
  padding: .9vw;
  font-family: abeezee;
  font-size: .97vw;
}

div.previous-chats div.logo {
  display: flex;
  position: relative;
  top: 2.62vh;
  /* Updated from 1.125vw to 2.62vh */
}

div.previous-chats div.logo img {
  width: 6.3vw;
  height: auto;
}

div.account {
  position: absolute;
  bottom: 8vh;
  left: 2vw;
  width: 17vw;
}

div.account button {
  background-color: #4285F4;
  color: #fff;
  padding: .75vw .75vw;
  border: none;
  border-radius: .375vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1vw;
  gap: .65vw;
}

div.build-info {
  padding: .8vw;
  position: relative;
  top: 22vh;
  border-radius: .7vw;
  display: flex;
  width: 90%;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 2.5vh;
  font-family: Quicksand;
  /* border: .05vw solid #2f2f2f; */
  /* box-shadow: inset 0 0 2px; */
  color: white;
  transform: scale(1);
  animation: card infinite 3s ease-in-out;
  /* background: linear-gradient(108deg, #1a0044 -7.56%, #660868 29.51%, #db5e83 69.57%, #ffd098 107.24%); */
  /* background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url("/card-bg.svg"); */
  /* background: url("/card-bg-3.svg") no-repeat; */
  background: linear-gradient(108deg, #052437 -7.56%, #14507d 29.51%, #47a2a5 69.57%, #bcf7ff 107.24%);
  backdrop-filter: blur(50px);
}

div.version {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3vw;
  font-family: abeezee;
  font-weight: bold;
}

div.build-info p.desc {
  position: relative;
  top: -1.2vh;
  font-size: .97vw;
}

div.build-info button.card-btn {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2vh 1.5vw;
  font-size: .9vw;
  border-radius: .3vw;
  border: none;
  background: #00000049;
  color: white;
  cursor: pointer;
  transition: 90ms linear;
}

div.build-info button.card-btn.light {
  background: white;
  color: rgb(34, 42, 46);
}

div.build-info button.card-btn:hover {
  background: white;
  color: rgb(34, 42, 46);
}

@keyframes card {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

div.profile {
  display: flex;
  flex-direction: row;
  gap: .7vw;
  align-items: center;
  font-family: abeezee;
  width: 100%;
}

div.img img {
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
}

div.name-email {
  display: flex;
  flex-direction: column;
  font-size: .9vw;
  color: white;
  gap: .6vh;
}

p.email {
  font-size: .85vw;
}

.logout-icon {
  color: white;
  position: absolute;
  right: 0;
  font-size: .9vw;
  cursor: pointer;
  padding: .7vw;
}