div.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

div.previous-chats {
  /* background: #fff; */
  height: 100%;
  width: 20.5vw;
  display: flex;
  flex-direction: column;
  padding: .9vw 1.45vw;
}

div.chat {
  width: calc(100% - 20.5vw);
  display: flex;
  margin: .75vw;
  background: #b3b3b308;
  border-radius: 3.75vw;
  border: 1px solid #3d3d3d;
  flex-direction: column;
  backdrop-filter: blur(71px);
  align-items: center;
}

h1.title {
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: Righteous;
  font-size: 2vw;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}

h1.title span.highlight {
  color: white;
  opacity: 0.4;
}

.link-icons {
  opacity: 0.4;
}

img.placeholder-img {
  opacity: 0.3;
  position: absolute;
  top: 20px;
  width: 7.43vw;
  height: auto !important;
}

div.msgs {
  /* background: #000; */
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

div.msgs div.ai,
div.msgs div.user {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 30px;
  color: #fff;
  position: relative;
}

div.msgs div.ai p.msg {
  white-space: pre-wrap;
}

img.ai-pic {
  border-radius: 50%;
}

div.input {
  display: flex;
  position: relative;
  margin-bottom: 56px;
  height: fit-content;
  width: 80%;
  align-items: center;
  justify-content: center;
}

div.input textarea,
div.input button {
  outline: none;
  border: none;
}

div.input textarea {
  position: relative;
  padding: 12px 75px 12px 18px;
  min-height: 46px;
  height: 46px;
  width: 100%;
  bottom: 5px;
  font-family: AbeeZee;
  line-height: 1.8;
  max-height: 130px;
  box-sizing: border-box;
  resize: none;
  font-family: Abeezee;
  border-radius: 7px;
  font-size: 0.9em;
  color: #cbcbcb;
  background: #364057;
  overflow: hidden;
}

div.input button {
  height: 42px;
  width: 42px;
  position: absolute;
  right: 20px;
  background: transparent;
  cursor: pointer;
  font-size: 1.3em;
  color: #dadada;
  bottom: 5px;
}

p.note {
  position: absolute;
  bottom: 1.8vw;
  font-size: 0.8vw;
  font-family: Quicksand;
  color: #cbcbcb;
  width: 80%;
  text-align: center;
}

div.previous-chats div.links {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5.86vw;
  /* gap: 2px; */
}

div.previous-chats div.links a {
  text-decoration: none;
  color: #eee;
  padding: .9vw;
  font-family: abeezee;
  font-size: .97vw;
}

div.previous-chats div.logo {
  display: flex;
  position: relative;
  top: 1.125vw;
}

div.previous-chats div.logo img {
  width: 6.3vw;
  height: auto;
}

div.examples {
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  width: calc(100% - 35.5vw);
  gap: 3vw;
  transition: 150ms;
}

div.example {
  background: #ffffff05;
  border: 1px solid #36384f;
  border-radius: 1.1247vw;
  display: flex;
  flex-direction: column;
  gap: 1.17vw;
  padding: 1.12vw;
  color: #bfbfbf;
  font-family: Quicksand;
  width: 100%;
  transition: 150ms;
}

div.header {
  color: #eee;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  font-size: 1.4vw;
}

div.header .example-icon {
  padding: .55vw;
  background: #4724e7;
  border-radius: .5vw;
}

div.columns {
  display: flex;
  flex-direction: column;
  gap: .75vw;
}

div.columns p.col {
  padding: .891vw;
  border-radius: .586vw;
  background: #ffffff15;
  font-size: .935vw;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

div.columns p.col:hover {
  transform: scale(1.04);
}