@font-face {
  font-family: Quicksand;
  src: url("/Fonts/Quicksand.ttf");
}

@font-face {
  font-family: Righteous;
  src: url("/Fonts/Righteous.ttf");
}

@font-face {
  font-family: Aharoni;
  src: url("/Fonts/Aharoni.ttf");
}

@font-face {
  font-family: ABeeZee;
  src: url("/Fonts/ABeeZee.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/Fonts/Roboto.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ::placeholder {
  font-size: 0.9em;
} */

:root {
  --top-left: #1c3651;
  /* #330624: #65133a, #432d39 #1c3651: #18868d, #365057 */
  --mid-left: #1a303a;
  /* #33192c #1a303a */
  --center: #1c364f;
  /* #470932db #1c364f */
  --top-right: #1e204d;
  /* #41183d #1e204d */
  --bottom-right: #273643;
  /* #432741 #273643 */

  --top-left-dark: #1c3651;
  /* #391c51 */
  --mid-left-dark: #1a303a;
  /* #1D1A3A */
  --center-dark: #1c364f;
  /* #1C224F */
  --top-right-dark: #1e204d;
  /* #2B1E4D */
  --bottom-right-dark: #273643;
  /* #2D2743 */

  --top-left-light: #0b6c6d;
  --mid-left-light: #176da0;
  --center-light: #aaf0ff;
  --top-right-light: #c1c3ff;
  --bottom-right-light: #aaf1ff;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --body-bg: #012127;
  --body-bg-dark: #012127;
  --body-bg-light: #96dade;
  background: var(--body-bg);
  /* background: #160722; */
  /* #11192A */
  /* #012127 */
  /* #160815 */
}

::-webkit-scrollbar {
  width: 8.5px;
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7cd0cc;
  border-radius: 5px;
  min-height: 30px;
}

body.lightMode {
  background: var(--body-bg-light);
}

div.bg1 {
  position: fixed;
  background: var(--top-left);
  width: 35.625vw;
  height: 77.19005vh;
  border-radius: 50%;
  top: -34.7225vh;
  /* Updated value */
  left: -16.875vw;
  z-index: -100000;
  filter: blur(100px);
}

div.bg2 {
  position: fixed;
  background: var(--mid-left);
  width: 35.625vw;
  height: 77.01675vh;
  /* Updated value */
  border-radius: 50%;
  top: 34.7225vh;
  /* Updated value */
  left: -16.875vw;
  z-index: -100000;
  filter: blur(100px);
}

div.bg3 {
  position: fixed;
  background: var(--center);
  width: 29.1vw;
  height: 66.4765vh;
  /* Updated value */
  border-radius: 50%;
  top: -23.73115vh;
  /* Updated value */
  left: 24.9vw;
  z-index: -100000;
  filter: blur(100px);
}

div.bg4 {
  position: fixed;
  background: var(--top-right);
  width: 51.6vw;
  height: 66.4765vh;
  /* Updated value */
  border-radius: 50%;
  top: -23.73115vh;
  /* Updated value */
  right: -11.25vw;
  z-index: -100000;
  filter: blur(100px);
}

div.bg5 {
  position: fixed;
  background: var(--bottom-right);
  width: 51.6vw;
  height: 66.4765vh;
  /* Updated value */
  border-radius: 50%;
  bottom: -46.5066vh;
  /* Updated value */
  right: 6.15vw;
  z-index: -100000;
  filter: blur(100px);
}